    .card {
        position: relative;
        width: 300px;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;
        box-shadow: 0 0 0 5px #ffffff80;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: inline-block;
        margin: 20px;
        margin-left: 90px;
    }

    .card svg {
        width: 48px;
        fill: #333;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card:hover .card__content {
        transform: rotateX(0deg);
    }

    .card__title {
        margin: 0;
        font-size: 24px;
        color: #ffffff;
        font-weight: 700;
    }

    .card:hover svg {
        scale: 0;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 14px;
        color: #000000;
        line-height: 1.4;
        background-color: rgba(255, 255, 255, 0.619);
        border-radius: 20px;
        padding: 5px;
    }

    .navlogo {
        height: 30vh;
        width: 15vw;
    }

    /* footer section start */
    body {
        text-decoration: none;
        font-size: 14px;
        background: #fff;
        max-width: 1920px;
        margin: 0 auto;
        overflow-x: hidden;
        font-family: poppins;
        width: 100%;
        height: 100%;
        background-image: url(/static/BACKGROUND/HOMEBG.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .globe{
        height: 100px; 
        margin-left: 7vw;
        position: relative;
        left:41%;
        border-radius: 100%;
    }
    .body{
        position: relative;
        left:6%;
        width: 90%;
    }